VirginMediaScenario/DAL/DataCleaned.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Scenario">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ScenarioID" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="Name" type="xs:string" />
              <xs:element minOccurs="0" name="Surname" type="xs:string" />
              <xs:element minOccurs="0" name="Forename" type="xs:string" />
              <xs:element minOccurs="0" name="UserID" type="xs:string" />
              <xs:element minOccurs="0" name="SampleDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
              <xs:element minOccurs="0" name="NumMonths" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="MarketID" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="NetworkLayerID" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>